<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="demoAngular">
<head>
    <title>Demo Angular - {{CurrentPageName}}</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/demoAngular.css" rel="stylesheet" />
</head>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="navbar navbar-default" data-ng-controller="MenuCtrl">
                <ul class="nav navbar-nav">
                    <li class="list-group-item" data-ng-repeat="menuItem in menu">
                        <a href="{{menuItem.link}}" ng-click="randomizeMenu()">{{menuItem.title}}</a>
                    </li>
                </ul>
            </div>
            <div data-ng-view></div>
        </div>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/MenuCtrl.js"></script>
    <script src="app/controllers/ItemListCtrl.js"></script>
    <script src="app/controllers/ItemDetailCtrl.js"></script>
    <script src="app/services/ItemService.js"></script>
    <script src="app/directives/itemDetailDir.js"></script>
    <script src="app/dreamFactoryAPI.js"></script>
</body>
</html>
