<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" data-ng-app="demoAngular">
<head>
    <title>Demo Angular - {{CurrentPageName}}</title>
</head>
<body data-ng-controller="HomeCtrl">
    <h1>{{Header}}</h1>
    <div>
        <ul>
            <li data-ng-repeat="item in items">{{item.itemName}} <a href="#" id="{{item.id}}" data-ng-click="removeItem($index)">X</a></li>
        </ul>
        <form data-ng-submit="addItem()">
            <input type="text" data-ng-model="newItem" />
            <input type="submit" value="Add Item" />
        </form>
    </div>
    <script src="js/angular.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/homeCtrl.js"></script>
</body>
</html>
