<div class="panel panel-success">
    <div class="panel-heading">
        <a href="" class="panel-close" ng-click="removeItem()"></a>
        <p class="panel-title"><strong>Item: </strong>{{currentItem.itemName}}</p>
    </div>
    <div class="panel-body">
        <p><strong>Description: </strong>{{currentItem.itemDescription}}</p>
    </div>
    <div class="panel-footer">
        <p><strong>Id: </strong>{{currentItem.itemId}}</p>
    </div>
</div>
<div class="panel-heading"><a href="#/items">Back</a></div>